// ------
// Code
// ------

//- Mixin: Code
///
/// Styles inline code snippets on your page. Defaults to a beautiful red, but
/// can be passed any color.
///
/// @group code
/// @param {variable} $color [#DF5C33] - Text Color
/// @example
///   code {
///     @include code(blue);
///   }

@mixin code($color : $color-primary) {
  padding: 3px 4px;
  color: $color;
  background-color: lighten($base-gray, 45%);
  border: 1px solid lighten($base-gray, 35%);
  border-radius: 3px;
  font-family: Menlo, Monaco, monospace;
}

//- Mixin: Pre
///
/// Some default styles for code blocks on your page. Takes not arguments
///
/// @group code
/// @example
///   pre {
///     @include pre();
///   }

@mixin pre() {
  display: block;
  padding: 7px;
  background-color: lighten($base-gray, 45%);
  border: 1px solid lighten($base-gray, 35%);
  border-radius: 3px;
  white-space: pre-wrap;
  word-break: break-all;
  font-family: Menlo, Monaco, monospace;
  line-height: 160%;
}
