// ----
// Layout
// ----


// Mixin: Clearfix
//
//ex. @include clearfix()

@mixin clearfix() {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

// Alias: cf
// Clearfix but shorter.

@mixin cf() {
  @include clearfix();
}

// Mixin: Ratio Box
// Set a specific width/height ratio. Useful on background images and iframes.

@mixin ratio-box ($ratio: 1 / 1) {
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 0;
    padding-top: (1 / $ratio) * 100%;
  }
}

// Mixin: Full Page

// Sets an element to be full viewport height, with reasonble min and max-height
// values.

@mixin full-page($height: 100vh, $max-height: 850px, $min-height: 600px) {
  // Only show for tablet and above
  @media screen and (min-width: 768px) {
    height: $height;
    max-height: $max-height;
    min-height: $min-height;
  }
}

// Mixin: Vertically Align
// Cross browser vertical align. Works down to IE9.
//
// ex. @include vertically-align();

@mixin vertically-align($reset : null) {
  @if ($reset != false) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  } @else {
    position: relative;
    top: 0;
    transform: translateY(0);
  }
}
