// ----
// Reset
// ----


// Resets via scut:
// https://github.com/davidtheclark/scut/

// Clickable form elements should have a pointer.
@mixin reset-pointer {
  a,
  label,
  select,
  option,
  button {
    cursor: pointer;
  }
}

// Reset the forms
@mixin reset-form {
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  textarea {
    resize: vertical;
  }
}

// Reset default button styles, which are never used.
@mixin reset-button {
  button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    font: inherit;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    user-select: none;
    width: auto;

    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }
}

// Some paragraph margins just get in the way.
@mixin reset-paragraph {
  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

// You want these elements fluid, probably.
@mixin reset-media {
  img,
  video {
    height: auto;
    max-width: 100%;
  }
}

// Remove default margins.
@mixin reset-figure {
  figure {
    margin: 0;
  }
}

// Call them all
@mixin reset-elements () {
  @include reset-pointer;
  @include reset-form;
  @include reset-button;
  @include reset-paragraph;
  @include reset-media;
  @include reset-figure;
}
