// ----
// Typography
// ----

// Mixin: Reset List
//
// If you're tired of all the list shenanigans and want to get rid of them for
// this special list you're working on, this is your guy. Resets the margins,
// padding, and style.
//
// ex. @include reset-list();

@mixin reset-list() {
  margin: 0;
  padding: 0;

  li {
    float: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

// Mixin: Inline List
//
// For when you need your list to be horizontal. Pass it the spacing you want
// between list elements, whatever units you'd like. Defaults to 20px.
//
// ex. @include inline-list()

@mixin inline-list($spacing: 20px) {
  @include clearfix();
  margin: 0;
  padding: 0;

  li {
    float: left;
    list-style-type: none;
    margin-right: $spacing;
  }

  li:last-child {
    margin-right: 0;
  }
}

// Mixin: Text-list
//
// We tend to spend a great deal of time resetting all of the properties for
// lists. This put them back to roughly the same state as browser defaults. You
// can pass it any style that list-style-type would normally take:
// http://www.w3schools.com/cssref/pr_list-style-type.asp
//
// ex. @include default-list();
// ex. @include default-list('decimal');

@mixin text-list($style: 'disc') {
  margin: .32rem .94rem;
  padding-left: 1rem;

  li {
    list-style-type: unquote($style);
    padding: .125rem 0;
  }
}
