// ----
// Ui
// ----

//- Mixin: Button
///
/// A starting place for button styling.
///
/// @param {variable} $background-color [#00BFFF] - Button background color
/// @param {variable} $color [#FFF] - Button text color
///
/// @group ui
/// @example
///   a.btn {
///     @include button();
///   }
///   a.yellow-button {
///     @include button(yellow, black);
///   }

@mixin button($background-color: $color-primary, $color: #FFF) {
  $global-border-radius: 3px !default;
  padding: 10px 22px;
  border-radius: $global-border-radius;
  background-color: $background-color;
  color: $color;
  cursor: pointer;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  transition: all .2s ease;

  &:hover {
    background-color: darken($background-color, 10%);
  }
}
